@page "/"

<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <span style="font-size: 40px;font-weight: bold;text-transform: none;line-height: 1.1;">USA Prophetic Convention 2019</span>
        <br>
        <br>
        <h1>July 3rd - 7th</h1>

        <span style="font-size: 30px;font-weight: bold;text-transform: none;line-height: 1.1;">Venue: Wyndham Hotel Gettysburg</span><br>
        <br>

        <a class="btn btn-lg btn-success" data-scroll="" href="/register">Register Now</a>

    </div>
</header>