@page "/schedule"
<div class="content px-4">
    <div class="container">


        <h3>Event Schedule</h3>
        <br />
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <td></td>
                    <td>
                        <strong>
                            Morning Session @@ 9:30AM
                        </strong>
                    </td>
                    <td>
                        <strong>
                            Afternoon Session @@ 2PM
                        </strong>
                    </td>
                    <td>
                        <strong>
                            Evening Session @@ 6:30PM
                        </strong>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left"><strong>Wednesday, July 3rd</strong></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        Session 1 @@ 6pm  <br />
                        <span class="text-primary"> Prophet Sadhu Sundar</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Thursday, July 4th</strong></td>
                    <td class="text-center">
                        Session 2<br />
                        <span class="text-success"> Dr Bruce Allen</span>
                    </td>
                    <td class="text-center">
                        Session 3 <br />
                        <span class="text-info"> Dr Steven Francis</span>
                    </td>
                    <td class="text-center">
                        Session 4 <br />
                        <span class="text-warning">Pastor Johnny Taylor </span><br />
                        <span class="text-primary">Prophet Sadhu Sundar</span><br />
                    </td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Friday, July 5th</strong></td>
                    <td class="text-center">
                        Session 5<br />
                        <span class="text-info"> Dr Steven Francis</span>
                    </td>
                    <td class="text-center">
                        Session 6<br />
                        <span class="text-warning">Pastor Johnny Taylor </span>
                    </td>
                    <td class="text-center">
                        Session 7<br />
                        <span class="text-success"> Dr Bruce Allen</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Saturday, July 6th</strong></td>
                    <td class="text-center">
                        Session 8<br />
                        <span class="text-info">  Dr Steven Francis</span>
                    </td>
                    <td class="text-center">
                        Session 9<br />
                        <span class="text-success"> Dr Bruce Allen</span>
                    </td>
                    <td class="text-center">
                        Session 10<br />
                        <span class="text-primary">Prophet Sadhu Sundar</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Sunday, July 7th</strong></td>
                    <td class="text-center">
                        Session 11 <br />
                        <span class="text-primary">Prophet Sadhu Sundar</span> <br />
                    </td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>