@page "/speakers"

<h3>Speakers</h3>

<div class="row">
    <div class="col-md-4">
        <div class="speaker">

            <figure>
                <img style="width:250px" alt="Br. Sadhu Sundar" class="img-responsive img-circle center-block" src="images/BrSadhu.jpg">
            </figure>

            <h4>Prophet Sadhu Sundar</h4>
            <nav class="nav">
                <a class="nav-link" target="_blank" href="http://www.jesusministries.org/">
                    <i class="oi oi-globe"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.facebook.com/AngelTV.SSS">
                    <i class="oi oi-book"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.youtube.com/user/angeltvsss">
                    <i class="oi oi-monitor"></i>
                </a>
            </nav>

        </div>
        <!-- /.speaker -->
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-8">
        <div style="text-align:justify; margin: 25px 0;">
            Prophet Sadhu Sundar Selvaraj is a forerunner, called to prepare the way for the Second Coming of the Lord Jesus Christ.
            He has been walking in the secret place with God for well over three decades.
            Brother Sadhu, as he is affectionately called, has had numerous encounters with the Lord and
            has been commissioned by the Lord Jesus Christ to prepare the Bride for His second coming.
            For sixteen years, he pioneered an apostolic work to the unreached people of Tibet in Asia
            where he witnessed major victories over forces of darkness. In 2005, at the command of the Lord,
            he launched Angel TV, a 24-hour Christian television network, as an end-time prophetic voice to
            prepare the nations for the Second Coming of the Lord Jesus Christ.
            Today, Angel TV reaches out to approximately half the globe, well over 125 nations.
            His life and ministry attested by miracles, signs, and wonders will teach, encourage, and
            stir you to deepen your walk with Christ.
            The palpable anointing that flows through Brother Sadhu's life edifies and provokes the saints to
            live a holy life and to walk intimately with God as the Bride of Christ.
        </div>
        <!-- /.speaker -->
    </div>
    <!-- /.col-md-8 -->

</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-8">
        <div style="text-align:justify; margin: 25px 0;">
            Dr. Bruce Allen is the founder of Still Waters International Ministries.
            He is an author, as well as a well-known international conference speaker and prophetic teacher to the nations.
            He travels throughout the world ministering the love of Jesus in the character of Christ with unusual signs and wonders.
            Dr. Bruce operates in a remarkable anointing for breakthrough into
            the glory realm with creative miracles touching the lives of many.
            A fresh and timely word can be expected as Bruce ministers.
            It is Dr. Bruce’s passion and focus in this hour to Prepare the Way
            of the Lord by training, equipping, and activating the Body of Christ for the work of the ministry
            because this is the hour for the Church to walk in the fullness of their inheritance in Christ.
            Dr. Bruce and his wife, Reshma, live in the Spokane area of Washington, and work together in ministry
            to awaken a generation to the reality of the Kingdom of God.

        </div>
        <!-- /.speaker -->
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <div class="speaker">

            <figure>
                <img alt="Dr. Bruce Allen" style="width:250px" class="img-responsive img-circle center-block" src="images/DrBruce.jpg">
            </figure>

            <h4>Dr. Bruce Allen</h4>
            <nav class="nav">
                <a class="nav-link" target="_blank" href="http://www.stillwatersinternationalministries.com">
                    <i class="oi oi-globe"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.facebook.com/StillWatersInternationalMinistries">
                    <i class="oi oi-book"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCWYf4U51tfjf6TRh7pnrGzw">
                    <i class="oi oi-monitor"></i>
                </a>
            </nav>
        </div>
        <!-- /.speaker -->
    </div>
    <!-- /.col-md-4 -->

</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-4">
        <div class="speaker">

            <figure>
                <img alt="Terry MacAlmon" style="width:250px" class="img-responsive img-circle center-block" src="images/TerryMacAlmon.jpg">
            </figure>

            <h4>Terry MacAlmon</h4>
            <nav class="nav">
                <a class="nav-link" target="_blank" href="https://www.terrymacalmon.com">
                    <i class="oi oi-globe"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.facebook.com/TerryMacAlmonOfficial/">
                    <i class="oi oi-book"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UC0EG61N1rkZkSWIW_52t38g">
                    <i class="oi oi-monitor"></i>
                </a>
            </nav>
        </div>
        <!-- /.speaker -->
    </div>
    <div class="col-md-8">
        <div style="text-align:justify; margin: 25px 0;">
            Terry MacAlmon's life and ministry are marked by grace and anointing. Going all the way back to his birth when he was not expected to live past the first month of life, God’s grace was present. Thru the early adult years of his life, Terry ministered as a staff pastor in different churches of the Assemblies of God, then moved more into independent charismatic churches in the 1980s and 90s. It was during that time that Terry sat quietly in a prayer room on a Sunday evening, waited on God then began to write the now famous chorus, I Sing Praises to Your Name. Following that came songs such as Holy Are You Lord, Even So, How We Need the River and many more favorites still being sung around the world today.
            In 1998, Terry began what soon became known as Lunch with the Lord, a noon worship hour on Wednesdays in Colorado Springs that launched his ministry and career. Bodies were healed, relationships were reconciled, broken hearts were mended.
            In 2011 God gave a fresh vision for Terry's ministry and New Glory International was born with a mission to be a passionate worshiper of God; to lead Jesus' bride to the throne in heartfelt worship; and to teach the body of Christ how to live a victorious life for the King.

        </div>
    </div>
</div>
